@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

::selection {
  background: #d4af6a;
  color: #2b2622;
}
